<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
			
			
		<title>Dream team</title>
		
		  <style>
  

			h3 {
				background-color: #77DD77;
				}

			body{
				background-color: #F0E68C;
				}
				
			.card-body{
				
				margin-top: 15%;
				margin-bottom: 10%;
				
				}

		  </style>
		  

		  
		  
</head>
<body>
<div class="container">
		<div class="row justify-content-center">
			<div class="col-4">
				<div class="card">
					
					<div class="card-body">
						
				  		<div class="container">
				  			<div class="row justify-content-center-vertical">
				  				<div class="col-4">
					  				<img class="card-img-top" src="https://w7.pngwing.com/pngs/193/417/png-transparent-computer-software-software-developer-programmer-chief-executive-project-business-face-hand-people.png" alt="Card image cap">
					  			</div>
					  			<div class="col-6">
							    	<h5 class="text-warning">John Doe</h5>
			    					<p class="card-subtitle">UX Designer</p>
	    						</div>	
				  			</div>
				  		</div>
<div class="container">
	<div class="row">
		<div class="col-12 lined">
				<ul class="list-group list-group-flush">
						 <li class="list-group-item">
								<div class="form-check">
									<input class="form-check-input" type="radio">
										<a class="list-group-item list-group-item-action">
									    			<div class="d-flex w-100 justify-content-center">
										      			<h6 class="lg-1">Anton Knudsen</h6>
										      			<small class="text-muted">1 Oct</small>
								</div>
								<small class="text-muted">Lorem, ipsum, dolor...</small>
							</a>
							<hr>
						</div>
					</li>
					<li class="list-group-item">
									<div class="form-check">
											  	<input class="form-check-input" type="radio">
										    	<a class="list-group-item list-group-item-action">
									    			<div class="d-flex w-100 justify-content-center">
										      			<h6 class="lg-1">Anton Knudsen</h6>
										      			<small class="text-muted">1 Oct</small>
									    			</div>
									    			<small class="text-muted">Lorem, ipsum, dolor...</small>
									  			</a>
									  			<hr>
											</div>
									  	</li>
					<li class="list-group-item">
									<div class="form-check">
											  	<input class="form-check-input" type="radio">
										    	<a class="list-group-item list-group-item-action">
									    			<div class="d-flex w-100 justify-content-center">
										      			<h6 class="lg-1">Anton Knudsen</h6>
										      			<small class="text-muted">1 Oct</small>
									    			</div>
									    			<small class="text-muted">Lorem, ipsum, dolor...</small>
</a>
									  
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
	<div class="col-4">
				<div class="card">
					<div class="card-body">
				  		<div class="container">
				  			<div class="row justify-content-center-vertical">
				  				<div class="col-4">
					  				<img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT67hyraloEeUpghj0VJdDWegkVjPZ7Md5Vgg&usqp=CAU" alt="Card image cap">
					  			</div>
					  			<div class="col-8">
							    	<h5 class="text-warning">Miyagi</h5>
			    					<p class="card-subtitle">UX Designer</p>
	    						</div>	
				  			</div>
				  		</div>
<div class="container">
		<div class="row">
				<div class="col-12 lined">
				  		<ul class="list-group list-group-flush">
								 <li class="list-group-item">
									   <div class="form-check">
											<input class="form-check-input" type="radio">
										    <a class="list-group-item list-group-item-action">
									    			<div class="d-flex w-100 justify-content-center">
										      			<h6 class="lg-1">Anton Knudsen</h6>
										      			<small class="text-muted">1 Oct</small>
									    			</div>
									    		<small class="text-muted">Lorem, ipsum, dolor...</small>
									  			</a>
									  			<hr>
										</div>
								</li>
<li class="list-group-item">
		 <div class="form-check">
				<input class="form-check-input" type="radio">
						<a class="list-group-item list-group-item-action">
								<div class="d-flex w-100 justify-content-center">
										<h6 class="lg-1">Anton Knudsen</h6>
										     <small class="text-muted">1 Oct</small>
									    			</div>
									    			<small class="text-muted">Lorem, ipsum, dolor...</small>
									  			</a>
									  			<hr>
											</div>
									  	</li>
<li class="list-group-item">
									<div class="form-check">
										<input class="form-check-input" type="radio">
										 <a class="list-group-item list-group-item-action">
									    	<div class="d-flex w-100 justify-content-center">
										      			<h6 class="lg-1">Anton Knudsen</h6>
										      			<small class="text-muted">1 Oct</small>
									    			</div>
									    			<small class="text-muted">Lorem, ipsum, dolor...</small>
</a>
									  			
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
	<div class="container">
		<div class="row justify-content-center">		
			<div class="col-4">
				<div class="card">
					<div class="card-body">
				  		<div class="container">
				  			<div class="row justify-content-center-vertical">
				  				<div class="col-4">
					  				<img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8NMJq8rGobIRiZm61P7m_yPDRA3DZChJ7TA&usqp=CAU" alt="Card image cap">
					  			</div>
					  			<div class="col-8">
							    	<h5 class="text-warning">Oleg</h5>
			    					<p class="card-subtitle">UX Designer</p>
	    						</div>	
				  			</div>
				  		</div>
<div class="container">
		<div class="row">
				 <div class="col-12 lined">
				  		<ul class="list-group list-group-flush">
								<li class="list-group-item">
									  <div class="form-check">
									  <input class="form-check-input" type="radio">
										<a class="list-group-item list-group-item-action">
									    <div class="d-flex w-100 justify-content-center">
										<h6 class="lg-1">Anton Knudsen</h6>
										      			<small class="text-muted">1 Oct</small>
									    			</div>
									    			<small class="text-muted">Lorem, ipsum, dolor...</small>
									  			</a>
									  			<hr>
											</div>
									  	</li>
<li class="list-group-item">
			<div class="form-check">
					<input class="form-check-input" type="radio">
							<a class="list-group-item list-group-item-action">
									   <div class="d-flex w-100 justify-content-center">
										  <h6 class="lg-1">Anton Knudsen</h6>
										    <small class="text-muted">1 Oct</small>
									    	</div>
									    	<small class="text-muted">Lorem, ipsum, dolor...</small>
									  		</a>
									  		<hr>
											</div>
									  	</li>
<li class="list-group-item">
									    	<div class="form-check">
											  	<input class="form-check-input" type="radio">
										    	<a class="list-group-item list-group-item-action">
									    			<div class="d-flex w-100 justify-content-center">
										      			<h6 class="lg-1">Anton Knudsen</h6>
										      			<small class="text-muted">1 Oct</small>
									    			</div>
									    			<small class="text-muted">Lorem, ipsum, dolor...</small>
</a>
									  			
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
			
			
<div class="col-4">
				<div class="card">
					<div class="card-body">
				  		<div class="container">
				  			<div class="row justify-content-center-vertical">
				  				<div class="col-4">
					  				<img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPaH1dIZwEbgOJ_fXgscyC6MHOwvGvWHYa6Q&usqp=CAU" alt="Card image cap">
					  			</div>
					  			<div class="col-8">
							    	<h5 class="text-warning">Admin Doe</h5>
			    					<p class="card-subtitle text-muted">UX Designer</p>
	    						</div>	
				  			</div>
				  		</div>
<div class="container">
			<div class="row">
				  <div class="col-12 lined">
				  					<ul class="list-group list-group-flush">
									    <li class="list-group-item">
									    	<div class="form-check">
											  	<input class="form-check-input" type="radio">
										    	<a class="list-group-item list-group-item-action">
									    			<div class="d-flex w-100 justify-content-center">
										      			<h6 class="lg-1">Anton Knudsen</h6>
										      			<small class="text-muted">1 Oct</small>
									    			</div>
									    			<small class="text-muted">Lorem, ipsum, dolor...</small>
									  			</a>
									  			<hr>
											</div>
									  	</li>
<li class="list-group-item">
									    	<div class="form-check">
											  	<input class="form-check-input" type="radio">
										    	<a class="list-group-item list-group-item-action">
									    			<div class="d-flex w-100 justify-content-center">
										      			<h6 class="lg-1">Anton Knudsen</h6>
										      			<small class="text-muted">1 Oct</small>
								</div>
							<small class="text-muted">Lorem, ipsum, dolor...</small>
						</a>
					<hr>
				</div>
		</li>
<li class="list-group-item">
	<div class="form-check">
			<input class="form-check-input" type="radio">
			<a class="list-group-item list-group-item-action">
			<div class="d-flex w-100 justify-content-center">
								<h6 class="lg-1">Anton Knudsen</h6>
								<small class="text-muted">1 Oct</small>
						</div>
				<small class="text-muted">Lorem, ipsum, dolor...</small>
</a>
									  			
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
	
	
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
	
	
	
</body>

</html>

